.login-geral {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}



.container form {
    background-color: orange;
    border-radius: 50px;
    padding: 100px;
    box-shadow: 10px 10px 10px;
}

.container {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 40px;
    background-color: rgba(45, 86, 219);

}

.container h1 {
    text-align: center;
    color: #131982;
    font-weight: bold;
    font-size: 60px;
}

.container .campo {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 50px auto;
}

.campo input {
    background-color: transparent;
    outline: none;
    border: 2px solid;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 120px;
}

.campo .icon {
    position: absolute;
    right: 20px;
    top: 40%;
    font-size: 25px;
    color: #fff;
}

.lembrar {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.lembrar input {
    margin-right: 5px;
}

.lembrar a {
    text-decoration: none;
    font-size: 25px;
}

.container button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 5px 5px 5px 5px;
    cursor: pointer;
    font-weight: 600;
    text-shadow: none;
    font-size: 40px;
    color: green;
}

.criar {
    font-size: 25px;
    text-align: center;
    margin: 20px 0 30px;
}

.criar p a {
    text-decoration: none;
    color: blue;
}